@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.caps { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }
.hidden { display: none; }
/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 61.66%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
* { box-sizing: border-box; }

header {
  width: 100%;
  margin-top: 21px;
 position: absolute; 
}

header .wrapper { position: relative; }

h1 { 
  width: 12%;
  margin: 0 auto;
}

h1 a { text-indent: -9999px; }
h1 img { float: right; }
.menu-wrap .hamburger .dummy { display: none; }

.menu-data {
  display: -webkit-box;    
  display: -ms-flexbox;    
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute; 
}

.list-one { left: 0;}
.list-one li { margin: 14px 50px 0; }
.list-two { right: 0; }
.list-two li:nth-child(1),
.list-two li:nth-child(2) { margin: 14px 51px 0; }

.menu-data a {
  /* padding: 18px 0; */
  color: #fff; 
  font-size: 13px;
  font-weight: 600; 
  -webkit-transition: color .5s ease-in-out;    
  -o-transition: color .5s ease-in-out;    
  transition: color .5s ease-in-out;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner styling starts here*/
.banner {
  padding: 205px 0 111px;
  background: url(../Images/banner.jpg) bottom/cover;
}

.slider { text-align: center; }

.slider h2 {
  width: 64%;
  margin: 0 auto 10px;
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  line-height: 38px;
}

.read-more { margin-bottom: 70px; }

.read-more a {
  padding: 7px 9px;
  background-color: #9d1348;
  color: #fff;
  font-size: 9px;
}

.carousel {
  display: -webkit-box;    
  display: -ms-flexbox;    
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.carousel a { text-indent: -9999px; }

.carousel a::after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 10px;
  float: right;
  background-color: #9d1348;
  text-indent: 0;
  -webkit-transition: background-color .5s ease-in-out;    
  -o-transition: background-color .5s ease-in-out;    
  transition: background-color .5s ease-in-out;
}

.carousel li:nth-child(1) a::after { background-color: #fff; }

/*banner styling ends here*/
/* quality styling starts here */
.quality { padding: 52px 0 127px; }

.quality h3 {
  margin-bottom: 13px;
  color: #9d1348;
  font-size: 27px;
  font-weight: 900;
}

.quality-detail {
  margin-bottom: 17px;
  display: inline-block;
  color: #278e63;
  font-size: 14px;
  font-weight: 900;
}

.quality-detail:first-letter { text-transform: capitalize; }

.quality p {
  margin-bottom: 49px;
  color: #999;
  font-size: 11px;
  line-height: 20px;
}


.quality-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;    
  justify-content: space-around;
}

.quality-data li {
  width: 25%;
  border-right: 1px solid #ddd;
}

.quality-data li:nth-child(4) { border-right: none; }

.quality-home { 
  display: inline-block;
  text-indent: -9999px; 
}

.quality-home::after {
  content: "\f015";
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 50px;
  margin-bottom: 30px;
  float: right;
  color: #39444b;
  font : 900 30px "Font Awesome 5 Free";
  text-indent: 0;
}

.quality-setting::after { content: "\f013"; }
.quality-earth::after { content: "\f57d"; }
.quality-star::after { content: "\f005"; }

.quality-data h4 {
  margin-bottom: 13px;
  color: #999;
  font-size: 10px;
}

.quality-data span:nth-of-type(2) {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 10px;
}

.quality-data .read-more { margin-bottom: 0; }
.quality-data .read-more a { 
  padding: 6px 9px; 
  -webkit-transition: all .5s ease-in-out;    
  -o-transition: all .5s ease-in-out;    
  transition: all .5s ease-in-out;
}

/* quality styling ends here */
/* welcome styling starts here */
.welcome { padding-bottom: 114px; }

.welcome h3 {
  margin-bottom: 25px;
  color: #9d1348;
  font-size: 25px;
  font-weight: 900;
}

.welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.welcome-content figure {
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
}

.interior-information {
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.interior-information > li {
  -ms-flex-preferred-size: 50%;  
  flex-basis: 50%;
}

.interior-information h4 {
  color: #238b61;
  font-size: 14px;
  font-weight: 900;
}

.interior-information .carousel {
  display: -webkit-box;  
  display: -ms-flexbox;  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.interior-information .carousel span {
  display: inline-block;
  text-indent: -9999px; 
}

.interior-information .carousel span::after {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid transparent;
  display: inline-block;
  margin: 11px 3px 17px;
  border-radius: 8px;
  background-color: #9d1348;
  float: right;
  text-indent: 0;
}

.interior-information .last-carousel span::after { 
  border: 1px solid;
  background-color: #fff;
}

.interior-information p {
  width: 85%;
  margin: 0 auto;
  color: #999;
  font-size: 10px;
  line-height: 20px;
}

/* welcome styling ends here */
/* our team styling starts here */
.our-team { padding-bottom: 100px; }

.our-team h3 {
  margin-bottom: 29px;
  color: #9d1348;
  font-size: 24px;
  font-weight: 900; 
}

.team-members {
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.team-members li {
  flex-basis: 22%;
}

.team-members h4 {
  margin : 8px 0 10px;
  color: #238b61;
  font-size: 13px;
  font-weight: 900;
}

.team-members p {
  color: #999;
  font-size: 10px;
  line-height: 18px;
}

/* our team styling ends here */
/*contact styling starts here*/
.contact { padding: 0 0 41px 0.5%; }

.contact h3 {
  margin-bottom: 24px;
  color: #9d1348;
  font-size: 25px;
  font-weight: 900; 
}

.contact-information {
  padding-left: 1.5%;
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-form { width: 69%; }
.maps,
.maps iframe { width: 100%;}
.contact-address { width: 31.3%; }
.form-group { margin: 0 0 10px; }

.form-group input[type="text"] {
  width: 95%;
  padding: 0 0 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid #b55578;
  margin: 13px 0 5px;
  background: #fff;
  outline: none;
}

.email,
.tel { 
  width: 48%;
  margin-bottom: 30px;
  display: inline-block; 
}

.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 95%;
  padding: 10px 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #b55578;
  background: #FFF;
  outline: none;
}

.form-group textarea { 
  border : 1px solid #b55578; 
  padding: 10px;
  resize: none;
}

.form-group input[type="tel"] { margin-left: 10px; }

.form-group input[type="submit"] {
  padding: 6px 10px;
  border: 1px solid #daacbd;
  border-left: 1px solid #9d1348;
  border-top:  1px solid #b55578;
  cursor: pointer;
  color: #9d1348;
  font-size: 12px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

::placeholder {
  padding : 0;
  font-size: 10px;
  text-transform: capitalize;
}

.form-group span {
  padding: 2px 5px;
  display: block;
  color: #f00;
  text-transform: capitalize;
}

.form-group .invalid-error,
.valid .invalid-error,
.form-group .empty-error { display: none;}
.invalid .invalid-error,
.empty-error.visible  { display: block; }

/* contact address starts here */
.contact-address h4 {
  margin-bottom: 14px;
  color: #238b61;
  font-size: 14px;
  font-weight: 900;
}

.contact-address address {
  width: 60%;
  margin-bottom: 14px;
  color: #333;
  font-size: 11px;
  line-height: 20px;
}

.contact-number { margin-bottom: 15px; }

.contact-information a {
  color: #333;
  font-size: 11px;
}

/* contact address ends here */

/*contact styling ends here


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
  padding: 26px 0 18px;
  background-color: #39444b;
}

.footer-top {
  margin-bottom: 18px;
  color: #fff;
  font-size: 10px;
}

.footer-top a { 
  color: #27644e; 
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
  
.social {
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social a {
  display: inline-block;
  color: #fff;
  text-indent: -9999px;
}

.social a::before {
  content: "";
  padding: 7px;
  margin-right: 3px;
  display: block;
  float: right;
  color: #fff;
  font: 900 15px 'Font Awesome 5 Brands';
  text-indent: 0;
  -webkit-transition: color .5s ease-in-out;    
  -o-transition: color .5s ease-in-out;    
  transition: color .5s ease-in-out;
}

.facebook a::before { content: "\f39e"; }
.twitter a::before { content: "\f099"; }
.google-plus a::before { content: "\f0d5"; }
.pinterest a::before { content: "\f231"; }

.scroll-top {
  position: fixed;
  right: 1%;
  bottom: 2%;
}

.scroll-top a { text-indent: -9999px; }

.scroll-top a::after {
  content: "\f077";
  padding: 8px 7px;
  border-radius: 10px;
  margin-right: 3px;
  display: block;
  float: right;
  color: #543249;
  font: 900 20px 'Font Awesome 5 Free';
  text-indent: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for hover effects starts here*/
@media only screen and (min-width: 995px) {
  .menu-data a:hover {
    color: #9d1348;
    -webkit-transition: color .5s ease-in-out;    
    -o-transition: color .5s ease-in-out;    
    transition: color .5s ease-in-out;
  }

  .read-more a:hover,
  .quality-data .read-more a:hover {
    background-color: #000;
    -webkit-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
  }

  .carousel a:hover::after {
    background-color: #fff;
    -webkit-transition: background-color .5s ease-in-out;    
    -o-transition: background-color .5s ease-in-out;    
    transition: background-color .5s ease-in-out;
  }

  .form-group input[type="submit"]:hover {
    background: #9d1348;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .footer-top a:hover { 
    color: #fff; 
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }

  .social a:hover::before {
    color: #9d1348;
    -webkit-transition: color .5s ease-in-out;    
    -o-transition: color .5s ease-in-out;    
    transition: color .5s ease-in-out;
  }

  .scroll-top a:hover::after {
    border: 1px solid #9d1348;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
/*media query for hover effects ends here*/

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .list-one li {
    margin: 14px 24px 0;
  }

  .list-two li:nth-child(1),
  .list-two li:nth-child(2) {
    margin: 14px 24px 0;
  }

  .slider h2 { width: 90% }  

  .contact-information {
    -ms-flex-wrap: wrap;  
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .quality,
  .welcome,
  .our-team {
    padding-bottom: 50px;
  }
  .welcome-content {
    -webkit-box-orient: vertical;  
    -webkit-box-direction: normal;  
    -ms-flex-direction: column;  
    flex-direction: column;
  }
  .welcome-content figure {
    margin-bottom: 20px;
  }

  .contact-form,
  .contact-address {
    width: 100%;
  }
}
/*media query for 955px ends here*/

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  .wrapper { width: 90%;}
  h1 { width: 20%; }

  .slider h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .read-more a {
    padding: 10px 14px;
   font-size: 12px;
  }
  .carousel {
    margin-left: 5%;
    -webkit-box-pack: start;  
    -ms-flex-pack: start;  
    justify-content: flex-start;
  }

  .carousel a::after {
    width: 13px;
    height: 13px;
    margin: 0 7px;
  }

  .quality-detail {
    font-size: 18px;
  }

  .quality p {
    font-size: 14px;
  }

  .quality-data {
    -ms-flex-wrap: wrap;  
    flex-wrap: wrap;
  }

  .quality-data li {
    -ms-flex-preferred-size: 48%;  
    flex-basis: 48%;
  }

  .quality-home::after {
    padding: 20px;
    font-size: 42px;
  }

  .quality-data h4 {
    font-size: 14px;
  }

  .quality-data span:nth-of-type(2) {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .quality-data .read-more a {
    padding: 9px 14px; 
  }

  .quality-data .read-more {
    margin-bottom: 28px;
  }

  .interior-information h4 {
    font-size: 17px;
  }

  .interior-information p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }

  .interior-information > li {
    margin-bottom: 10px;
  }
  
  .quality, .welcome, .our-team {
    padding-bottom: 10px;
  }
  
  .team-members {
    -ms-flex-wrap: wrap;  
    flex-wrap: wrap;
  }

  .team-members li {
    -ms-flex-preferred-size: 46%;  
    flex-basis: 46%;
  }

  .team-members h4 {
    font-size: 16px;
  }

  .team-members p {
    margin-bottom: 26px;
    font-size: 14px;
  }

  .email {
    margin-bottom: 10px;
  }

  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group textarea {
    padding: 14px 0;
  }
  .email, 
  .tel {
    width: 100%;
  }

  .form-group input[type="tel"] { margin: 0;}
  ::placeholder { font-size: 15px; }
  .form-group { text-align: left; }

  .form-group input[type="submit"] {
    text-align: left;
    padding: 10px 15px;
  }

  .contact-address h4 { font-size: 21px; }
}
/*media query for 768px ends here*/
